{% extends '::layout.html.twig' %}
{% form_theme edit_form 'TDDVCommandeBundle:Form:fields.html.twig' %}
{% block title -%}Predication Coffret{% endblock %}
{% block body -%}
{{ form(edit_form) }}
        <a href="{{ path('predication') }}">
            Back to the list
        </a>
{% endblock %}
