{% extends "::layout.html.twig" %}
{% form_theme edit_form 'TDDVCommandeBundle:Form:fields.html.twig' %}
{% block title %}Client{% endblock %}
{% block sub_title -%}Modifier Client{% endblock %}

{% block body -%}
{{ form(edit_form) }}
        <a href="{{ path('client') }}">
            Back to the list
        </a>
{% endblock %}
