{% extends '::layout.html.twig' %}
{% form_theme edit_form 'TDDVCommandeBundle:Form:fields.html.twig' %}
{% block title -%}Modifier Commande{% endblock %}
{% block body -%}
{{ form(edit_form) }}
        <a href="{{ path('commande') }}">
            Back to the list
        </a>
{% endblock %}
